.navbar {
    font-family: $mono;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;

    &__menu {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        gap: $sp4;
    }
    &__logo {
        width: 3rem;
        margin-right: 2rem;
    }
}
